@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    font-family: "Fira Sans", serif;
    margin: 0;
    padding: 0;
}

/* header style */
.header-contener{
    display: flex;
    justify-content: space-around;
    margin-left: 20px 160px 20px 160px;
    margin-top: 20px;
    align-items: center;
    gap: 810px;

}

.bd{
    color: rgb(14, 14, 14);

font-size: 28px;
font-weight: 700;
line-height: 32px;
letter-spacing: 0%;
text-align: left;

}

.sign-btn{
    width: 115px;
    height: 52px;
    padding: 15px 30px 15px 30px;
    box-sizing: border-box;
    border: 1px solid rgb(0, 106, 80);
    border-radius: 8px;
    transition:  0.35s ease, color 0.35s ease;
    

}

/* hero section styles */

#hero{
    border-radius: 24px;
    background: rgb(198, 228, 214);
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 20px;
    height: 525px;
}

.hero-contener{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.hero-title{
    color: rgba(14, 14, 14, 0.5);
    font-size: 24px;
    font-weight: 500;
    line-height: 29px;
    letter-spacing: 0%;
    margin-bottom: 10px;
}

.hero-content{
    width: 400px;
    margin-top: 73px;
}

.hero-discription{
    color: rgb(14, 14, 14);
    font-family: Fira Sans;
    font-size: 35px;
    font-weight: 700;
    line-height: 35px;
    letter-spacing: 0%;
   }

.hero-img-1{
    width: 474px;
    height: 330px;
}

.hero-img{
    margin-top: 80px;
}

.hero-btn{
    border-radius: 8px;
    background: rgb(0, 106, 80);
    padding: 17px 34px 17px 34px;
    width: 250px;
    height: 52px;
    margin-top: 20px;
    color: rgb(255,255,255);
    font-size: 14px;
    border: none;
    transition:  0.35s ease, color 0.35s ease;
}


/* 2nd section cad style */
.card-section-contener{
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

#card-section{
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 80px;
}

.card-section-card{
    box-sizing: border-box;
    border: 1px solid rgba(14, 14, 14, 0.15);
    border-radius: 16px;
    background: rgb(255, 255, 255);
    width: 300px;
    height: 220px;
    padding: 24px;
}

.card-section-card-img{
    width: 60px;
    height: 60px;
}

.card-section-card-title{
    color: rgba(14, 14, 14, 0.8);
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;
}

.card-section-card-discription{
    color: rgba(14, 14, 14, 0.7);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;
}

.card-section-card-content{
    margin-top: 20px;
}

.card-section-content-title{
   color: rgb(14, 14, 14);
   font-size: 30px;
   font-weight: 700;
   line-height: 40px;
   letter-spacing: 0%;
   text-align: left;
}

.card-section-content{
    margin-bottom: 20px;
}

/* card section end */

/* new card section style */
#card-2nd{
    margin-top: 80px;
}

.card-2nd-section-content-title{
    color: rgb(14, 14, 14);
    font-size: 30px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: 0%;
    text-align: left;
}

.card-2nd-section-content-discription{
    color: rgba(14, 14, 14, 0.7);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;
}

.card-2nd-section-content-head{
    margin-left: 50px;
    margin-right: 50px;
    text-align: left;
}

.card-2nd-section-contener{
    display: flex;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 32px;
    justify-content: space-between;
    
}

.blue-card, .green-card,.yollow-card{
    width: 400px;
    height: 320px;
    padding: 30px;
}

.blue-card{
    box-sizing: border-box;
    border-radius: 16px;
    background: rgba(84, 144, 245, 0.2);
}

.green-card{
    box-sizing: border-box;
    border-radius: 16px;
    background: rgb(198, 228, 214);
}

.yollow-card{
    box-sizing: border-box;
    border-radius: 16px;
    background: rgb(247, 235, 207);
}

.blue-btn, .green-btn, .yollow-btn{
    width: 120px;
    height: 40px;
    padding: 11px 20px 11px 20px;
    border: none;
}

/* .position-btn{
    position: relative;
    top: 40px;
} */

.green-btn{
    margin-top: 67px;
    border-radius: 8px;
    background: rgb(9, 161, 92);
    color: white;
    transition:  0.35s ease, color 0.35s ease;
}

.blue-btn{
    border-radius: 8px;
    background: rgb(84, 144, 245);
    margin-top: 43px;
    color: white;
    transition:  0.35s ease, color 0.35s ease;
   
}

.yollow-btn{
    border-radius: 8px;
    background: rgb(255, 194, 57);
    margin-top: 43px;
    color: white;
    transition:  0.35s ease, color 0.35s ease;
}
/* end */

/* 4th section style */
#fourth-section{
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 32px;
    box-sizing: border-box;
    border: 1px solid rgba(14, 14, 14, 0.15);
    border-radius: 16px;
    background: rgb(255, 255, 255);
    padding: 10px 18px 10px 18px;
    height: 210px;
   
}

.fourth-section-content{
    position: relative;
    bottom: 39px;
}

.fourth-section-bg-img{
    height: 54px;
    width: 55px;
    
}

.fourth-section-content-discription{
    color: rgba(14, 14, 14, 0.8);
    font-size: 16px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0%;
    text-align: left;
   
}

.fourth-section-content-title{
    color: rgba(14, 14, 14, 0.8);
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;
}

/* 4th section style end */
.th-1{
   
    border-right: none;
    text-align: left;

}

.th-2{
    border-left: none;
    text-align: left;
}
th{
    box-sizing: border-box;
    border: 1px solid rgba(14, 14, 14, 0.15);
    background: rgb(198, 228, 214);
    padding: 12px;
    
    
}

 
td{
    box-sizing: border-box;
    border: 1px solid rgba(14, 14, 14, 0.15);
    background: rgba(255, 255, 255, 0.1);
    padding: 12px;
   
}

.center{
    text-align: center;
}

.left{
    text-align: left;
}

select{
    box-sizing: border-box;
    border: 1px solid rgb(14, 14, 14);
    border-radius: 4px;
    background: rgb(198, 228, 214);
    padding: 5px 5px 5px 5px;
    border: none;
}


.table-section{
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 80px;
}
.table-div{
    border-radius: 16px;
    background: rgb(255, 255, 255);
    border: 1px solid rgba(14, 14, 14, 0.15);
    padding: 20px;
}

.table-Title{
    color: rgb(14, 14, 14);
    font-family: Fira Sans;
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0%;
    text-align: left;
    margin-bottom: 15px;
}

.th-1 , .td-1{
    width: 1030px;
}

/* news section style */

.news-head{
    margin-top: 80px;
    margin-left: 50px;
    margin-right: 50px;
}
.news-heading{
    color: rgb(14, 14, 14);
    font-size: 30px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0%;
    text-align: left;
    margin-bottom: 15px;
}

.news-discription{
    color: rgba(14, 14, 14, 0.7);
    font-size: 16px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0%;
    text-align: left;
}

.news-1st-card-contener{
    display: flex;
    gap: 32px;
    border-radius: 24px;
    background: rgb(255, 255, 255);
    border: 1px solid rgba(14, 14, 14, 0.15);
    padding: 20px;
    align-items: center;
}

.news-card-contener{
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 32px;
}

.news-card-img{
    width: 400px;
    height: 300px;
    border-radius: 24px;
}

.news-title{
    color: rgba(14, 14, 14, 0.8);
    font-size: 25px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0%;
    text-align: left;
}

.alzazeera-img{
    width: 134px;
    height: 40px;
    margin-top: 12px;
}

.news-card-discription{
    color: rgba(14, 14, 14, 0.7);
    font-size: 16px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0%;
    text-align: left;
    margin-top: 10px;
}

.news-card{
    position: relative;
    
    
}
.news-btn{
    border-radius: 7px;
    background: rgb(0, 106, 80);
    width: 100px;
    height: 35px;
    padding: 8px 5px 8px 5px;
    margin-top: 32px;
    color: white;
    border: none;
    transition:  0.35s ease, color 0.35s ease;
}

.news-card-contener{
    display: flex;
    flex-direction: column;
    gap: 24px;
}

/* donet section */
#donet-section{
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 80px;
}

.donet-head{
    text-align: center;
}

.donet-title{
    color: rgb(14, 14, 14);   
    font-size: 30px;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 0%;
    text-align: center;
}

.donet-discription{
    color: rgba(14, 14, 14, 0.7);  
    font-size: 16px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0%;
    text-align: center;
}

.donet-section-contener{
    display: flex;
    margin-top: 32px;
    justify-content: space-around;
    gap: 24px;
    align-items: center;
    text-align: center;
    
}

.donet-box{
    box-sizing: border-box;
    border: 1px solid rgba(14, 14, 14, 0.15);
    border-radius: 16px;
    background: rgb(255, 255, 255);
    width: 240px;
    height: 120px;
    padding-top: 43px;
    padding-left: 63px;
    transition:  0.5s ease, color 0.5s ease;
    
}

.donet-amount{
    color: rgba(14, 14, 14, 0.8);
    font-size: 25px;
    font-weight: 700;
    line-height: 35px;
    letter-spacing: 0%;
    text-align: left;
}

.donet-box:hover{
   background-color: rgb(198, 228, 214) ; 
}

.input-taka{
    margin-top: 32px;
    padding: 20px 40px 20px 40px;
    /* box-sizing: border-box;
    border-bottom: 1px solid rgba(14, 14, 14, 0.15);
    background: rgb(255, 255, 255); */
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;

}
input{
    width: 1032px;
    height: 45px;
    text-align: center;
    box-sizing: border-box;
    border: 1px solid rgba(14, 14, 14, 0.18);
    background: rgb(255, 255, 255);
    outline: none;
    transition:  0.35s ease, color 0.35s ease;
}


.donet-btn{
    width: 125px;
    height: 45px;
    box-sizing: border-box;
    border: 1px solid rgba(14, 14, 14, 0.1);
    border-radius: 8px;
    background: rgb(0, 106, 80);
    color: white;
    transition:  0.35s ease, color 0.35s ease;
}

/* last section */
#last-section{
    margin-top: 80px;
    margin-left: 50px;
    margin-right: 50px;
    border-radius: 24px;
    background: rgb(198, 228, 214);
    padding: 80px 100px 80px 100px;
    text-align: center;
  justify-content: center;
}

.last-head{
    color: rgb(14, 14, 14);
    font-size: 32px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: 0%;
    text-align: center;
    margin-bottom: 10px;
}

.last-discription{
    color: rgba(14, 14, 14, 0.7);
    font-size: 16px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0%;
    text-align: center;
    margin-bottom: 15px;
}


.input-email{
    width: 525px;
    height: 40px;
    border-radius: 8px 0px 0px 8px;
    background: rgb(255, 255, 255);
    padding: 18px 40px 18px 40px;
    transition:  0.35s ease, color 0.35s ease;
}

.subscribe-btn{
    width: 90px;
    height: 40px;
    border-radius: 0px 8px 8px 0px;
    background: rgb(0, 106, 80);
    color: white;
    position: absolute;
    border: none;
    text-align: center;
    transition:  0.35s ease, color 0.35s ease;
    
}

.subscribe{
    position: relative;
    
}

.last-text{
    color: rgba(14, 14, 14, 0.7);
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0%;
    text-align: center;
    margin-top: 20px;
}

/* footer */

footer{
    margin-top: 80px;
    margin-left: 50px;
    margin-right: 50px;
    text-align: center;
    margin-bottom: 50px;
    
}
.footer-head{
    color: rgb(14, 14, 14);
    font-size: 32px;
    font-weight: 700;
    line-height: 38px;
    letter-spacing: 0%;
    margin-bottom: 5px;
    
}
hr{
    width: 800px;
    margin-left: 220px;
    border: 1px solid rgba(14, 14, 14, 0.1);
}

.icon-contener{
    display: flex;
    margin-top: 8px;
    gap: 20px;
    justify-content: center;
}

.footer-icon{
    width: 18px;
    height: 18px;
}


.hero-btn:hover{
    box-sizing: border-box;
    border: 1px solid rgb(0, 106, 80);
    color: black;
    background-color: #FFFAEC;
    
}

.sign-btn:hover{
    background: rgb(0, 106, 80);
    color: white;

}

.blue-btn:hover{
    background-color: #CDC1FF;
    color: black;
    box-sizing: border-box;
    border: 1px solid rgb(0, 106, 80);
}

.green-btn:hover{
    box-sizing: border-box;
    border: 1px solid rgb(0, 106, 80);
    color: black;
    background-color: #91AC8F;

}


.yollow-btn:hover{
   background-color:  #FA812F;
   box-sizing: border-box;
   border: 1px solid rgb(0, 106, 80);

}

select:hover{
    background-color: #A5B68D;
    color: white;
    box-sizing: border-box;
    border: 1px solid rgb(0, 106, 80);
}

.news-btn:hover{
    background-color: #D6CFB4;
    color: black;
    box-sizing: border-box;
    border: 1px solid rgb(0, 106, 80);
}

.donet-btn:hover{
    background-color: #D6CFB4;
    color: black;
    box-sizing: border-box;
    border: 1px solid rgb(0, 106, 80);
}

input:hover{
    background-color: #FAF7F0;
    color: black;
    box-sizing: border-box;
    border: 1px solid rgb(0, 106, 80);
}
.subscribe-btn:hover{
    box-sizing: border-box;
    border: 1px solid rgb(0, 106, 80);
    color: black;
    background-color: #FFFAEC;
}